.nav.navbar.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #092F56;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: auto;
    background: #00147e;
}

.center {
    align-items: center;
}

#page {
    position: center;
    height: 80%;
    width: 75%;
}

#nav_logo {
    height: 70px;
    position: center;
}

#ticketview {
    height: 70%;
    width: 95%;
    overflow-y: scroll;
    overflow-wrap: normal;
    overborder: 8px solid #00008b;
    padding: 2%;
    color: #ffffff;
}

h1 h2 h3 h4 h5 h6 {
    color: #ffffff;
}