.login-container{
    margin-top: 5%;
    margin-bottom: 15%;
}

.login-logo {
    position: relative;
    margin-left: -25%;
    box-shadow: 10px 10px 5px grey;
}
.login-logo img{
    position: absolute;
    width: 32%;
    margin-top: -15%;
    border-radius: 4rem;
    padding: 5%;
}
.login-form-1{
    padding: 9%;
    background: #072550;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color: #d9d9d9;
}
.login-form-2{
    padding: 9%;
    background: #0e2a63;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
    alignment: center;
}