.nav.navbar.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #092F56;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #00147e;
}

.inactive {
    color: hsla(30, 2%, 22%, 0.5);
    opacity: .7;
}