<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div id="container" class="container dashboard-container">
    <div class="row">
        <div class="col-md-6 dashboard-form-1">
            <h3>Welcome </h3>

            <div class="form-group">
                <input id="reimb_amount" type="number" class="form-control"
                       placeholder="Amount" value=""/>
            </div>
            <div class="form-group">
                <textarea name="" id="reimb_desc" cols="30" rows="10"></textarea>
            </div>
            <div id="dashboardupload">
                <div class="form-group">
                    <input type="file" name="uploadedimage" id="imageuploadinput" onchange="handleFiles(this.files)">

                </div>
            </div>

            <div class="form-group">
                <input id="dashboardsubmitbutton" type="submit" class="btnSubmit"
                       value="Submit"/>
            </div>


        </div>

        <h3>Tickets</h3>

        <h1>BKAGFHAWISERHQT</h1>
    </div>
</div>
</body>
</html>
