<div class="container" id="home-container">
    <div id="home-page">
        <h1>Home</h1><br>
        <div id="user-info">
            <b>User ID:</b> <span id="user_id"></span><br><br>
            <b>First name:</b> <span id="user_fn"></span><br><br>
            <b>Last name:</b> <span id="user_ln"></span><br><br>
            <b>Email address:</b> <span id="user_email"></span><br><br>
            <b>Username:</b> <span id="user_username"></span><br><br>
            <b>Password:</b> <span id="user_password"></span><br><br>
        </div>
    </div>
</div>