<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Login</h3>

            <div class="form-group">
                <input class="form-control" id="loginusername" onchange="verifyLoginFields()" placeholder="Your Email *"
                       type="text" value=""/>
            </div>
            <div class="form-group">
                <input class="form-control" id="loginpassword" onchange="verifyLoginFields()"
                       placeholder="Your Password *"
                       type="password"
                       value=""/>
            </div>
            <div class="form-group">
                <input button class="btnSubmit" id="loginsubmitbutton" onclick="login()" type="submit"
                       disabled value="Login"/>
            </div>
        </div>
        <div class="col-md-6 login-form-2">
            <div class="login-logo">
                <img alt="" src="Assets/Images/ExExpenseFullLogo.png"/>
            </div>
            <div>
                <h3>Register</h3>
                <div class="form-group">
                    <input class="form-control" id="registerusername" placeholder="User Name *" type="text" value=""/>
                </div>
                <div class="form-group">
                    <input class="form-control" id="registerpassword" placeholder="Password *" type="password"
                           value=""/>
                </div>
                <div class="form-group">
                    <input class="form-control" id="registerfirst" placeholder="First Name" type="text"
                           value=""/>
                </div>
                <div class="form-group">
                    <input class="form-control" id="registerlast" placeholder="Last Name" type="text"
                           value=""/>
                </div>
                <div class="form-group">
                    <input class="form-control" id="registeremail" placeholder="Email" type="email"
                           value=""/>
                </div>
                <div class="form-group">
                    <input button class="btnSubmit" id="registersubmitbutton" onclick="register()" type="submit"
                           value="Login"/>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>