<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1" id="logindiv">
            <h3>Login</h3>

            <div class="form-group">
                <input class="form-control" id="loginusername" onchange="verifyLoginFields()" placeholder="Your Email *"
                       type="text" value=""/>
            </div>
            <div class="form-group">
                <input class="form-control" id="loginpassword" onchange="verifyLoginFields()"
                       placeholder="Your Password *"
                       type="password"
                       value=""/>
            </div>
            <div class="form-group">
                <input button class="btnSubmit" id="loginsubmitbutton" onclick="login()" type="submit"
                       disabled value="Login"/>
            </div>
            <div>
                <img alt="" id="flavor_text" src="Assets/Images/EElogo.png">
            </div>
        </div>
        <!------------------RIGHT COLUMN------------------>
        <div class="col-md-6 login-form-2" id="registerdiv">
            <div>
                <h3>Register</h3>
                <div class="form-group">
                    <input class="form-control" id="registerusername" onchange="verifyRegisterFields()"
                           placeholder="User Name *"
                           type="text" value=""/>
                </div>
                <div class="form-group">
                    <input class="form-control" id="registerpassword" onchange="verifyRegisterFields()"
                           placeholder="Password *" type="password"
                           value=""/>
                </div>
                <div class="form-group">
                    <input class="form-control" id="registerfirst" onchange="verifyRegisterFields()"
                           placeholder="First Name" type="text"
                           value=""/>
                </div>
                <div class="form-group">
                    <input class="form-control" id="registerlast" onchange="verifyRegisterFields()"
                           placeholder="Last Name" type="text"
                           value=""/>
                </div>
                <div class="form-group">
                    <input class="form-control" id="registeremail" onchange="verifyRegisterFields()"
                           placeholder="Email" type="email"
                           value=""/>
                </div>
                <div class="form-group">
                    <input button class="btnSubmit" id="registersubmitbutton" onclick="register()" type="submit"
                           disabled value="Start Getting Paid"/>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>