.nav.navbar.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #092F56;
}

.container {
    margin: 0 0 0 12.5vw;
}
html, body {
    margin: 0;
    height: 100%;
    overflow: -moz-hidden-unscrollable;
    background-color: #03002e;
}

.left_column {
    background-color: #010048;
}

.right_column {
   background-color: #010057;
}

#page {
    margin-bottom: 10vh;
    height: 75vh;
    width: 75vw;
}

#nav_logo {
    height: 70px;
    position: center;
}

h1 h2 h3 h4 h5 h6 {
    color: #ffffff !important;
}