html, body {
    overflow: -moz-hidden-unscrollable;
    background-color: #03002e;
}

.navbar {
    background-color: #E7E6DD;
}

#navlogo {
    height: 35px;
}

#page {
    position: fixed;
    margin: 10vh;
    height: 70vh !important;
    width: 90vw;
    top: 25px;
}

.divider {
    width: 10%;
}

.column {
    float: left;
    height: 80vh;
    width: 45%;
    padding: 5%;
    box-shadow: 20px 20px 20px 20px black;
}

.content-basket {
    width: 95%;
    alignment: center;
}

.dark {
    background-color: #0F2043;
}

.light {
    background-color: #162851;
}


h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    text-align: center;
}

p {
    color: white;
}

.form-group {
    width: 95%;
}

.invisible {
    opacity: 0;
}

#ticketview {
    width: 90%;
    height: 90%;
    border-color: #E7E6DD;
}

iframe {
    width: 90%;
    height: 90%;
    border-color: #E7E6DD;
}

#reimb_desc {
    resize: none;
}

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    alignment: center;
}