<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div id="container" class="container dashboard-container">
    <div class="row">
        <div class="col-md-6 dashboard-form-1">
            <h3>dashboard</h3>

            <div class="form-group">
                <input id="reimb_amount" type="text" class="form-control"
                       placeholder="Your Username *" value="" />
            </div>
            <div class="form-group">
                <input id="reimb_description" type="password" class="form-control"
                       placeholder="Your Password *" value="" />
            </div>
            <div class="form-group">
                <input id="dashboardsubmitbutton" type="submit" class="btnSubmit"
                       value="dashboard" />
            </div>

        </div>

            <h3>Tickets</h3>
            <div class="form-group">
                <input id="registerusername" type="text" class="form-control"
                       placeholder="Your New Username" value="" />
            </div>
            <div class="form-group">
                <input id="registerpassword" type="password" class="form-control"
                       placeholder="Your New Password" value="" />
            </div>
            <div class="form-group">
                <input id="registerfirst" type="text" class="form-control"
                       placeholder="First Name" value="" />
            </div>
            <div class="form-group">
                <input id="registerlast" type="text" class="form-control"
                       placeholder="Last Name" value="" />
            </div>
            <div class="form-group">
                <input id="registeremail" type="text" class="form-control"
                       placeholder="Your Email" value="" />
            </div>
            <div class="form-group">
                <input id="registersubmitbutton" type="submit" class="btnSubmit" value="Start Getting Paid" />
            </div>
            <div class="form-group"></div>
        </div>
    </div>
</div>
</div>

<script src="JS/script.js"></script>

</body>
</html>