<div class="row">
	<!--DESIGNATES A ROW ON THE PAGE-->
	<div class="column dark">
		<!--DESIGNATES A DARKER COLOR FOR THIS COLUMN-->
		<div class="content-basket">
			<!--DESIGNATES A "BASKET" FOR SPACING-->
			<div id="reimbdiv">
				<!--DESIGNATES THE NAME OF THE DIV-->
				<h1 class="text" id="dashboardwelcomeuser"></h1>
				<br />
				<h4>Submit a New Reimbursement Request Here</h4>
				<div class="form-group">
					<input data-type="currency" id="reimb_amount" name="currency-field"
						pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" placeholder="$1,000.00"
						type="text" value="">
				</div>
				<div class="form-group">
					<textarea class="text" cols="60" id="reimb_desc" maxlength="200"
						name="" placeholder="Enter a brief description (0/200)" rows="5"></textarea>
				</div>
				<div class="form-group">
					<select id="reimb_type" name="expense_type">
						<option value="1">Lodging</option>
						<option value="2">Travel</option>
						<option value="3">Food</option>
						<option value="4">Other</option>
					</select>
				</div>
				<div class="form-group">
					<input id="requestsubmit" onclick="addReimbursement()"
						type="submit" value="Submit Request" style="text-align: center"/>
				</div>
			</div>
		</div>
	</div>
	<div class="divider">
		<br> <br> <br> <br> <br> <br> <br>
		<br>
	</div>

	<div class="column light">
		<div id="ticketdiv">
			<button id="pasttickets"
				onclick="getTickets('pasttickets')">Reimbursement History</button>
			<div id="admin"></div>
			<table id="ticketview"></table>
		</div>
	</div>
</div>
